@{
    Layout = null;
}
<style>
    .card {
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        margin-bottom: 1rem;
    }

    .image1 {
        margin: 10px;
    }
 div .card-footer{
     border:none;
 }
div .DivDisplay{
     display:none;
 }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
   $(document).ready(function(){
    var totalQuestion = @ViewBag.AnswerData;
    $("#div1").show();
    
   
   });
var DivShow = function(j){

           
     $("#div"+j).hide();
     $("#div"+(j+1)).show();
     //j++;
     var AnswerType = $("#hidd"+j).val();
     if(AnswerType == 1){

            var AnswerText = $("#Radio" + j).val();
     }
     if(AnswerType == 2){

            var AnswerText = $("#Image"+j).val();
     }

    if(AnswerType==3)
    {

        var AnswerText = $("#Name"+j).val();
    }
        if (AnswerType == 4) {

            var AnswerText = $("#Email"+j).val();
        }
        if(AnswerType == 5){

            var AnswerText = $("#Mobile"+j).val();

        }
        if(AnswerType == 6){

            var AnswerText = $("#Description"+j).val();

        }
        if(AnswerType == 7){

            var AnswerText = $("#CheckBox"+j).val();
        }
    //var result;
    //    result = {
    //        "Id": Id,
    //        "SurveyId": SurveyId,
    //        "Description": Description,
    //        "NumberOfPage": NumberOfPage,
    //        "AnswerType": AnswerType,
    //        "answerInfos": Answer,
    //    }
    //$.ajax({
    //        type: "POST",
    //        url: "/Question/SaveAnswer",
    //        data: result,
    //        dataType: "json",
    //        success: function (r) {
    //            alert(r + " record(s) inserted.");
    //        }
    //})
}
   var submit = function(){
       var d = @ViewBag.SId;
        window.location.replace("/Question/ThankYou?SurveyId="+d);
   }
</script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html>
<head>
</head>
<title></title>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Questions</h4>
                    </div>
                </div>
            </div>
        </div>
        @{
            var i = 0;
            var idn = "div";
            var btn = "btn";
            var hidd = "hidd";
        }
        @foreach (var item in Model)
        {
           
            i++;
            idn = "div" + i;
            btn = "btn" + i;
            hidd = "hidd" + i;
            @if (@item.AnswerType == 1)
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">
                                @foreach (var item1 in item.answerResonpes)
                                {
                                     <div class="form-check">
                                        <input type="radio" id="Radio" class="form-check-input" value="">@item1.OpetionText
                                        <br>
                                     </div>
                                  
                                 
                                }
                                
                             
                            </div>
                           @if(i<@ViewBag.AnswerData){
                            <div class="card-footer bg-white text-right" >
                                    <button type="button" id=@btn class="btn btn-primary next" onclick="DivShow(@i)">Next</button>
                            </div>
                           }
                            else{
                               <div class="card-footer bg-white text-right">
                                    <button type="button" onclick="submit()" class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                       
                        </div>
                    </div>
                </div>
               
            }
            else if (item.AnswerType == 2)
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn>
                    <div class="col-md-12">
                        <div class="card" >
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="image1">
                                        <img src="~/dist/img/excellent.png" id="Image" class="img-circle elevation-2 img-fluid" alt="User Image">
                                    </div>
                                    <div class="image1">
                                        <img src="~/dist/img/good.png" id="Image" class="img-circle elevation-2 img-fluid" alt="User Image">
                                    </div>
                                    <div class="image1">
                                        <img src="~/dist/img/average.png"  id="Image" class="img-circle elevation-2 img-fluid" alt="User Image">
                                    </div>
                                    <div class="image1">
                                        <img src="~/dist/img/poor.png" id="Image" class="img-circle elevation-2 img-fluid" alt="User Image">
                                    </div>
                                </div>
                            </div>

                           @if (i< @ViewBag.AnswerData)
                            {
                                <div class="card-footer bg-white text-right">
                                    <button type="button" id=@btn class="btn  btn-primary next" onclick="DivShow(@i)">Next</button>
                                </div>
                            }
                             else{
                               <div class="card-footer bg-white text-right">
                                    <button type="button" onclick="submit()" class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                         
                        </div>
                    </div>
                </div>
            }
            else if (item.AnswerType == 3)
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn>
                    <div class="col-md-12">
                        <div class="card" >
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-8">
                                    <input type="text" name="" class="form-control" id="Name" placeholder="name" />
                                </div>
                            </div>
                          @if (i< @ViewBag.AnswerData)
                            {
                              <div class="card-footer bg-white text-right">
                                    <button type="button"  id=@btn class="btn  btn-primary next" onclick="DivShow(@i)">Next</button>
                             </div>
                            }
                             else{
                               <div class="card-footer bg-white text-right">
                                    <button  type="button"  class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                        </div>
                      
                    </div>
                </div>
            }
            else if (item.AnswerType == 4)
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-8">
                                    <input type="text" name="" id="Email" class="form-control" placeholder="email" />
                                </div>
                            </div>
                           @if (i< @ViewBag.AnswerData)
                            {
                                <div class="card-footer bg-white text-right">
                                    <button type="button" id=@btn class="btn  btn-primary next" onclick="DivShow(@i)">Next</button>
                                </div>
                            }
                             else{
                               <div class="card-footer bg-white text-right">
                                    <button type="button" onclick="submit()" class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                        </div>
                       
                    </div>
                </div>
            }
            else if (item.AnswerType == 5)
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-8">
                                    <input type="text" name="" id="Mobile" class="form-control" placeholder="mobile" />
                                </div>
                            </div>
                          @if (i< @ViewBag.AnswerData)
                            {
                                <div class="card-footer bg-white text-right">
                                    <button type="button" id=@btn class="btn btn-primary next" onclick="DivShow(@i)">Next</button>
                                </div>
                            }
                             else{
                               <div class="card-footer bg-white text-right">
                                    <button type="button" onclick="submit()" class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                        </div>
                       
                    </div>
                </div>
            }
            else if (item.AnswerType == 6)
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn>
                    <div class="col-md-12">
                        <div class="card"  >
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">

                                <div class="col-md-9 ">
                                    <textarea class="form-control" id="Description" rows="3" placeholder="@item.Description"></textarea>
                                </div>
                            </div>
                          @if (i<@ViewBag.AnswerData)
                            {
                                <div class="card-footer bg-white text-right">
                                    <button type="button" id=@btn class="btn  btn-primary next" onclick="DivShow(@i)">Next</button>
                                </div>
                            }
                             else{
                               <div class="card-footer bg-white text-right">
                                    <button  type="button"  class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                        </div>
                       
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" id=@hidd value="@item.AnswerType" />
                <div class="row DivDisplay" id=@idn>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5>@item.Description</h5>
                            </div>
                            <div class="card-body">

                                @foreach (var item1 in item.answerResonpes)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" id="CheckBox" class="form-check-input" value="">@item1.OpetionText
                                        <br>
                                    </div>

                                }
                            </div>
                            @if (i< @ViewBag.AnswerData)
                            {
                                <div class="card-footer bg-white text-right">
                                    <button  type="button" id=@btn class="btn  btn-primary next" onclick="DivShow(@i)">Next</button>
                                </div>
                            }
                            else{
                               <div class="card-footer bg-white text-right">
                                    <button type="button" onclick="submit()" class="btn  btn-primary" id="smt">Submit</button>
                                </div>
                            }
                        </div>
                       
                    </div>
                </div>
            
            }
          
        }
       
    </div>
</body>

<script>

</script>
</html>